<a href="https://colab.research.google.com/github/LeMikey/SDGP-HelloWorld/blob/main/main_Flood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Flood Prediction Model**

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn import model_selection,neighbors
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,recall_score,roc_auc_score,confusion_matrix

In [35]:
# Get the dataset required
dataSet = pd.read_csv('Monthly rainfall & flood.csv')
dataSet

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual Rainfall,Floods
0,1981,113,112,172,270,267,281,159,113,290,208,396,120,2501,0
1,1982,47,39,251,360,454,573,217,170,146,481,562,110,3410,1
2,1983,39,47,81,106,318,218,145,211,310,215,281,425,2396,0
3,1984,277,219,375,465,333,265,330,35,250,236,428,198,3411,1
4,1985,201,161,282,150,440,572,136,139,205,495,320,346,3447,1
5,1986,158,171,171,388,167,155,97,215,423,355,206,181,2687,0
6,1987,118,30,135,261,220,173,15,361,225,463,367,139,2507,0
7,1988,83,211,313,379,345,306,230,328,390,129,320,176,3210,1
8,1989,55,11,129,195,321,393,417,190,253,385,349,99,2797,0
9,1990,112,121,269,232,378,241,198,68,77,420,421,200,2737,0
10,1991,229,75,186,257,310,405,184,173,98,361,328,158,2764,0
11,1992,67,12,29,266,316,248,299,181,306,329,477,115,2645,0
12,1993,34,96,172,270,585,511,221,98,140,562,433,321,3443,1
13,1994,150,141,135,201,357,114,192,124,217,414,308,172,2525,0
14,1995,195,84,131,514,470,394,115,207,189,371,235,76,2981,1
15,1996,93,142,122,395,58,260,227,170,426,311,248,140,2592,0
16,1997,29,67,90,345,395,180,290,131,446,514,541,277,3305,1
17,1998,115,122,126,235,401,247,287,280,308,297,296,409,3123,1
18,1999,144,275,226,445,438,286,122,297,227,419,357,217,3453,1
19,2000,144,325,260,142,180,307,81,269,320,203,221,253,2705,0
20,2001,361,111,94,410,178,144,201,85,315,333,297,313,2842,0
21,2002,89,133,194,487,294,207,167,193,113,441,363,271,2952,1
22,2003,108,61,324,355,223,118,294,199,249,285,384,80,2680,0
23,2004,104,129,186,410,404,230,236,116,408,425,245,265,3158,1
24,2005,150,100,272,373,194,223,205,128,252,365,445,179,2886,0
25,2006,166,140,318,224,292,255,126,267,191,572,510,190,3251,1
26,2007,89,78,123,446,167,212,161,287,359,394,304,229,2849,0
27,2008,196,311,426,506,314,268,345,148,101,454,377,191,3637,1
28,2009,58,47,357,271,386,326,134,283,278,337,409,325,3211,1
29,2010,158,86,145,342,428,281,235,214,186,278,536,386,3275,1
30,2011,239,177,193,467,98,32,40,117,25,149,331,172,2040,0
31,2012,64,170,204,420,143,257,151,320,348,555,416,327,3375,1
32,2013,124,236,300,183,520,463,308,138,406,361,350,134,3523,0
33,2014,154,81,112,352,298,458,149,485,421,352,691,418,3971,1
34,2015,108,185,203,406,352,357,213,284,466,445,431,291,3741,1
35,2016,121,108,153,300,874,210,181,115,83,233,405,152,2935,1
36,2017,174,56,250,195,703,285,182,292,645,588,458,286,4114,1
37,2018,57,232,213,430,645,457,143,183,289,702,457,161,3969,1
38,2019,74,221,146,328,262,425,221,431,700,621,490,255,4174,1
39,2020,119,33,101,342,586,318,324,193,715,208,469,277,3685,1

In [36]:
# Seperating the dataset for calculations
monthly_RF = dataSet.iloc[:,1:13]

monthly_F = dataSet.iloc[:, -1]

In [37]:
# Scaling data between 0 - 1
minmax = preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(monthly_RF).transform(monthly_RF)

array([[0.25301205, 0.32165605, 0.36020151, 0.40196078, 0.25612745,
        0.46025878, 0.35820896, 0.17333333, 0.38405797, 0.13787086,
        0.39175258, 0.1260745 ],
       [0.05421687, 0.08917197, 0.55919395, 0.62254902, 0.48529412,
        1.        , 0.50248756, 0.3       , 0.17536232, 0.61431065,
        0.73402062, 0.0974212 ],
       [0.03012048, 0.11464968, 0.13098237, 0.        , 0.31862745,
        0.34380776, 0.32338308, 0.39111111, 0.41304348, 0.15008726,
        0.15463918, 1.        ],
       [0.74698795, 0.66242038, 0.87153652, 0.87990196, 0.3370098 ,
        0.43068392, 0.78358209, 0.        , 0.32608696, 0.18673647,
        0.45773196, 0.3495702 ],
       [0.51807229, 0.47770701, 0.6372796 , 0.10784314, 0.46813725,
        0.99815157, 0.30099502, 0.23111111, 0.26086957, 0.63874346,
        0.23505155, 0.77363897],
       [0.38855422, 0.50955414, 0.35768262, 0.69117647, 0.13357843,
        0.22735675, 0.2039801 , 0.4       , 0.57681159, 0.39441536,
        0.        , 0.3008596 ],
       [0.26807229, 0.06050955, 0.26700252, 0.37990196, 0.19852941,
        0.26062847, 0.        , 0.72444444, 0.28985507, 0.58289703,
        0.33195876, 0.18051576],
       [0.1626506 , 0.63694268, 0.71536524, 0.66911765, 0.35171569,
        0.5064695 , 0.53482587, 0.65111111, 0.52898551, 0.        ,
        0.23505155, 0.28653295],
       [0.07831325, 0.        , 0.25188917, 0.21813725, 0.32230392,
        0.66728281, 1.        , 0.34444444, 0.33043478, 0.44677138,
        0.29484536, 0.06590258],
       [0.25      , 0.35031847, 0.60453401, 0.30882353, 0.39215686,
        0.38632163, 0.45522388, 0.07333333, 0.07536232, 0.5078534 ,
        0.44329897, 0.35530086],
       [0.60240964, 0.20382166, 0.39546599, 0.37009804, 0.30882353,
        0.68946396, 0.42039801, 0.30666667, 0.1057971 , 0.40488656,
        0.25154639, 0.23495702],
       [0.11445783, 0.00318471, 0.        , 0.39215686, 0.31617647,
        0.39926063, 0.70646766, 0.32444444, 0.40724638, 0.34904014,
        0.55876289, 0.11174785],
       [0.01506024, 0.27070064, 0.36020151, 0.40196078, 0.64583333,
        0.88539741, 0.51243781, 0.14      , 0.16666667, 0.7556719 ,
        0.46804124, 0.70200573],
       [0.36445783, 0.41401274, 0.26700252, 0.23284314, 0.36642157,
        0.15157116, 0.44029851, 0.19777778, 0.27826087, 0.4973822 ,
        0.21030928, 0.27507163],
       [0.5       , 0.23248408, 0.25692695, 1.        , 0.50490196,
        0.66913124, 0.24875622, 0.38222222, 0.23768116, 0.42233857,
        0.05979381, 0.        ],
       [0.19277108, 0.41719745, 0.23425693, 0.70833333, 0.        ,
        0.42144177, 0.52736318, 0.3       , 0.58115942, 0.31762653,
        0.08659794, 0.18338109],
       [0.        , 0.17834395, 0.15365239, 0.58578431, 0.4129902 ,
        0.27356747, 0.6840796 , 0.21333333, 0.61014493, 0.67190227,
        0.69072165, 0.57593123],
       [0.25903614, 0.35350318, 0.24433249, 0.31617647, 0.42034314,
        0.3974122 , 0.67661692, 0.54444444, 0.41014493, 0.29319372,
        0.18556701, 0.95415473],
       [0.34638554, 0.84076433, 0.49622166, 0.83088235, 0.46568627,
        0.46950092, 0.26616915, 0.58222222, 0.29275362, 0.5061082 ,
        0.31134021, 0.40401146],
       [0.34638554, 1.        , 0.58186398, 0.08823529, 0.1495098 ,
        0.50831793, 0.1641791 , 0.52      , 0.42753623, 0.12914485,
        0.03092784, 0.50716332],
       [1.        , 0.31847134, 0.16372796, 0.74509804, 0.14705882,
        0.20702403, 0.46268657, 0.11111111, 0.42028986, 0.35602094,
        0.18762887, 0.67908309],
       [0.18072289, 0.38853503, 0.41561713, 0.93382353, 0.28921569,
        0.32347505, 0.37810945, 0.35111111, 0.12753623, 0.54450262,
        0.32371134, 0.55873926],
       [0.23795181, 0.15923567, 0.74307305, 0.61029412, 0.20220588,
        0.15896488, 0.69402985, 0.36444444, 0.32463768, 0.27225131,
        0.36701031, 0.01146132],
       [0.22590361, 0.37579618, 0.39546599, 0.74509804, 0.42401961,
        0.36598891, 0.54975124, 0.18      , 0.55507246, 0.51657941,
        0.08041237, 0.54154728],
       [0.36445783, 0.28343949, 0.61209068, 0.65441176, 0.16666667,
        0.35304991, 0.47263682, 0.20666667, 0.32898551, 0.41186736,
        0.49278351, 0.29512894],
       [0.4126506 , 0.41082803, 0.7279597 , 0.28921569, 0.28676471,
        0.41219963, 0.2761194 , 0.51555556, 0.24057971, 0.77312391,
        0.62680412, 0.32664756],
       [0.18072289, 0.2133758 , 0.23677582, 0.83333333, 0.13357843,
        0.33271719, 0.36318408, 0.56      , 0.48405797, 0.46247818,
        0.20206186, 0.43839542],
       [0.50301205, 0.95541401, 1.        , 0.98039216, 0.31372549,
        0.43622921, 0.82089552, 0.25111111, 0.11014493, 0.56719023,
        0.35257732, 0.32951289],
       [0.0873494 , 0.11464968, 0.82619647, 0.40441176, 0.40196078,
        0.54343808, 0.2960199 , 0.55111111, 0.36666667, 0.36300175,
        0.4185567 , 0.71346705],
       [0.38855422, 0.2388535 , 0.29219144, 0.57843137, 0.45343137,
        0.46025878, 0.54726368, 0.39777778, 0.23333333, 0.2600349 ,
        0.68041237, 0.88825215],
       [0.63253012, 0.52866242, 0.41309824, 0.88480392, 0.04901961,
        0.        , 0.06218905, 0.18222222, 0.        , 0.03490401,
        0.25773196, 0.27507163],
       [0.10542169, 0.50636943, 0.44080605, 0.76960784, 0.10416667,
        0.41589649, 0.33830846, 0.63333333, 0.46811594, 0.7434555 ,
        0.43298969, 0.71919771],
       [0.28614458, 0.71656051, 0.68261965, 0.18872549, 0.56617647,
        0.79667283, 0.72885572, 0.22888889, 0.55217391, 0.40488656,
        0.29690722, 0.16618911],
       [0.37650602, 0.22292994, 0.20906801, 0.60294118, 0.29411765,
        0.78743068, 0.33333333, 1.        , 0.57391304, 0.38917976,
        1.        , 0.97994269],
       [0.23795181, 0.55414013, 0.43828715, 0.73529412, 0.36029412,
        0.60073937, 0.49253731, 0.55333333, 0.63913043, 0.55148342,
        0.46391753, 0.61604585],
       [0.27710843, 0.3089172 , 0.31234257, 0.4754902 , 1.        ,
        0.32902033, 0.41293532, 0.17777778, 0.08405797, 0.18150087,
        0.41030928, 0.21776504],
       [0.43674699, 0.1433121 , 0.55667506, 0.21813725, 0.79044118,
        0.4676525 , 0.41542289, 0.57111111, 0.89855072, 0.80104712,
        0.51958763, 0.6017192 ],
       [0.08433735, 0.70382166, 0.46347607, 0.79411765, 0.71936275,
        0.78558226, 0.31840796, 0.32888889, 0.3826087 , 1.        ,
        0.51752577, 0.24355301],
       [0.13554217, 0.66878981, 0.29471033, 0.54411765, 0.25      ,
        0.72643253, 0.51243781, 0.88      , 0.97826087, 0.85863874,
        0.58556701, 0.51289398],
       [0.27108434, 0.07006369, 0.1813602 , 0.57843137, 0.64705882,
        0.52865065, 0.76865672, 0.35111111, 1.        , 0.13787086,
        0.54226804, 0.57593123]])

In [38]:
# Split the datasets inot train and test 
monthly_RF_train, monthly_RF_test, monthly_F_train, monthly_F_test=train_test_split(monthly_RF, monthly_F, test_size=0.2)

In [39]:
monthly_RF_train.head()

    Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
32  124  236  300  183  520  463  308  138  406  361  350  134
27  196  311  426  506  314  268  345  148  101  454  377  191
1    47   39  251  360  454  573  217  170  146  481  562  110
9   112  121  269  232  378  241  198   68   77  420  421  200
35  121  108  153  300  874  210  181  115   83  233  405  152

In [40]:
monthly_F_train.head()

32    0
27    1
1     1
9     0
35    1
Name: Floods, dtype: int64

## Logistic Regression Machine Learning Algorithm

In [41]:
monthly_RF_train_std = minmax.fit_transform(monthly_RF_train)
monthly_RF_test_std = minmax.transform(monthly_RF_test)

lr = LogisticRegression()
lr_clf = lr.fit(monthly_RF_train_std, monthly_F_train)

lr_accuracy = cross_val_score(lr_clf, monthly_RF_train_std, monthly_F_train, cv=3, scoring='accuracy', n_jobs=-1)

lr_accuracy.mean()

0.8757575757575758

In [42]:
monthly_F_predict = lr_clf.predict(monthly_RF_train_std)
print('Flood has been predicted.')
print(monthly_F_predict)

print('Actual chances of flood')
print(monthly_F_train.values)

Flood has been predicted.
[1 1 1 0 1 0 0 0 0 0 1 0 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 0 1 0 0 0]
Actual chances of flood
[0 1 1 0 1 0 0 0 0 0 1 0 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 0 1 0 0 0]

In [43]:
print("\naccuracy score: %f"%(accuracy_score(monthly_F_train,monthly_F_predict)*100))
print("recall score: %f"%(recall_score(monthly_F_train,monthly_F_predict)*100))
print("roc score: %f"%(roc_auc_score(monthly_F_train,monthly_F_predict)*100))

accuracy score: 96.875000
recall score: 100.000000
roc score: 96.666667