<a href="https://colab.research.google.com/github/LeMikey/SDGP-HelloWorld/blob/main/main_Flood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Flood Prediction Model**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Uploading hourly rainfall data

In [7]:
dataSet_R = pd.read_csv('Hourly Rainfall.csv')
dataSet_R['Hanwella'].head(24)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    3.5
17    3.1
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
Name: Hanwella, dtype: float64

Uploading hourly water level data

In [6]:
dataSet_WL = pd.read_csv('Hourly Water Level.csv')
dataSet_WL.iloc[[0]].transpose()

       0
1   1.97
2   2.11
3   2.20
4   2.24
5   2.27
6   2.30
7   2.28
8   2.26
9   2.22
10  2.16
11  2.11
12  2.07
13  2.02
14  1.97
15  1.89
16  1.81
17  1.77
18  1.72
19  1.68
20  1.68
21  1.87
22  2.04
23  2.66
24  2.91

Merging the data

In [ ]:
dataSet = pd.merge(dataSet_R, dataSet_WL, how='outer', )