<a href="https://colab.research.google.com/github/LeMikey/SDGP-HelloWorld/blob/main/Flood%20Prediction/main_Flood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Flood Prediction System**

**Imports**

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn import model_selection,neighbors
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,recall_score,roc_auc_score,confusion_matrix

**Dataset collection**

In [ ]:
# Get the dataset required
dataSet = pd.read_csv('Monthly rainfall & flood.csv')
dataSet

In [5]:
# Seperating the dataset for calculations
monthly_RF = dataSet.iloc[:,1:13]

monthly_F = dataSet.iloc[:, -1]

In [ ]:
# Scaling data between 0 - 1
minmax = preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(monthly_RF).transform(monthly_RF)

In [7]:
# Split the datasets into train and test 
monthly_RF_train, monthly_RF_test, monthly_F_train, monthly_F_test=train_test_split(monthly_RF, monthly_F, test_size=0.2)

In [8]:
monthly_RF_train.head()

    Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
10  229   75  186  257  310  405  184  173   98  361  328  158
31   64  170  204  420  143  257  151  320  348  555  416  327
27  196  311  426  506  314  268  345  148  101  454  377  191
30  239  177  193  467   98   32   40  117   25  149  331  172
36  174   56  250  195  703  285  182  292  645  588  458  286

In [9]:
monthly_F_train.head()

10    0
31    1
27    1
30    0
36    1
Name: Floods, dtype: int64

## Logistic Regression Machine Learning Algorithm

**Calculations**

In [10]:
#Prediction model
monthly_RF_train_std = minmax.fit_transform(monthly_RF_train)
monthly_RF_test_std = minmax.transform(monthly_RF_test)

lr = LogisticRegression()
lr_clf = lr.fit(monthly_RF_train_std, monthly_F_train)

lr_accuracy = cross_val_score(lr_clf, monthly_RF_train_std, monthly_F_train, cv=3, scoring='accuracy', n_jobs=-1)

lr_accuracy.mean()

0.8121212121212121

**Generate predicted labels**

In [11]:
#Comparing predictions with real life data
monthly_F_predict = lr_clf.predict(monthly_RF_train_std)
print('Flood has been predicted.')
print(monthly_F_predict)

print('Actual chances of flood')
print(monthly_F_train.values)

Flood has been predicted.
[0 1 1 0 1 1 0 0 1 1 1 1 0 1 1 0 1 1 0 1 1 0 0 0 1 1 1 1 0 1 0 1]
Actual chances of flood
[0 1 1 0 1 1 0 0 1 1 1 1 0 1 1 0 1 1 0 1 1 0 0 0 1 1 1 1 0 1 0 0]

**Comparing predicted and actual results**

In [12]:
print("\naccuracy score: %f"%(accuracy_score(monthly_F_train,monthly_F_predict)*100))
print("recall score: %f"%(recall_score(monthly_F_train,monthly_F_predict)*100))
print("roc score: %f"%(roc_auc_score(monthly_F_train,monthly_F_predict)*100))

accuracy score: 96.875000
recall score: 100.000000
roc score: 96.153846

**Final accuracy**

In [13]:
#Seperating the prediction out into three categories, High risk, Medium risk and Low risk
if (accuracy_score(monthly_F_train,monthly_F_predict)*100)>=65:{
    print("High risk of flood.")
}
elif (accuracy_score(monthly_F_train,monthly_F_predict)*100)>=35: {
    print("Medium risk of flood.")
}
else: {
    print("Low risk of flood.")
}

High risk of flood.